.yellow-bg {

  background-color: yellow;

}

.impar li:nth-child(even) {

  color: green;

}

.par li:nth-child(odd) {

  text-transform: uppercase;

}

.headers {

  color: red;

}

.headers em {

  font-size: 40px;
  border: 1px solid black;

}

li {

  font-size: 20px;

}

li em {

  font-weight: bold;

}

.program-language li:nth-of-type(1),
.program-language li:nth-of-type(2),
.program-language li:nth-of-type(3) {

  color: blue;

}

.program-language li:nth-of-type(2),
.program-language li:nth-of-type(3) {

  background-color: pink;

}

/* #stackoverflow {

////////Não possuo conta na adobe pra pegar a fonte :/ criarei

} */

#trybe:hover {

  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  font: bold;

}

#mozilla:hover {

  font-family: 'Zilla Slab', serif;
  font: bold;

}

#devdocs:hover {

  font-family: 'Ubuntu', sans-serif;
  font: bold;

}

ul:hover:nth-of-type(6){

  background-color: violet;

}

ul:hover:nth-of-type(7) {

  background-color: brown;

}

/* #6ª */